#Kaggle Titanic Dataset

The following is an implementation of titanic classification challenge solution using stacking. This model scored 80% accuracy in the competition which put it at top 10% on the leaderboard. In this notebook, we will explore feature enginnering methods and stacking methods

In [1]:
import pandas as pd
import shutil
import numpy as np
import re
from google.colab import drive
drive.mount('/content/gdrive')
#import dataset
train_set = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/titanic/data/train.csv')
test_set = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/titanic/data/test.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

##Preprocessing  dataset

For the titanic dataset we will extract titles in people names to determine their social status as well as using Pclass feature. Numeric/continous data are bucketized into different ranges as categoricla inputs and synthetic features such as family size and IsAlone features are created from SibSp and Parch features. Credits on feature engineering methodologies to Kaggle Kernel "EDA to Predict"

In [0]:
def preprocess_data(data):
    def get_init(name):
        return re.search('([A-Za-z]+)\.',name).group(1)
    description = data.describe(include = 'all')
    data['Embarked'] = train_set['Embarked'].fillna('S')
    data['Age'] = data['Age'].fillna(description.loc['mean']['Age'])
    data['Age'] = pd.cut(data['Age'],5)
    data['Fare'] = data['Fare'].fillna(description.loc['mean']['Fare'])
    data['Fare'] = pd.qcut(data['Fare'],4)
    data['Pclass'] = data['Pclass'].apply(lambda x: str(x))
    data['FamilySize'] = data.apply(lambda x: x['SibSp'] + x['Parch'] + 1,axis=1)
    data['IsAlone'] = data.apply(lambda x: 1 if x['FamilySize']==1 else 0,axis=1)
    data['Name'] = data['Name'].apply(get_init)
    data['Name'] = data['Name'].replace(['Mlle','Mme','Ms','Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don'],['Miss','Miss','Miss','Mr','Mr','Mrs','Mrs','Other','Other','Other','Mr','Mr','Mr'])
    
    return data

In [3]:
#check dataset
train_set = preprocess_data(train_set)
print(train_set)

     PassengerId  Survived Pclass    Name     Sex               Age  SibSp  \
0              1         0      3      Mr    male  (16.336, 32.252]      1
1              2         1      1     Mrs  female  (32.252, 48.168]      1
2              3         1      3    Miss  female  (16.336, 32.252]      0
3              4         1      1     Mrs  female  (32.252, 48.168]      1
4              5         0      3      Mr    male  (32.252, 48.168]      0
5              6         0      3      Mr    male  (16.336, 32.252]      0
6              7         0      1      Mr    male  (48.168, 64.084]      0
7              8         0      3  Master    male    (0.34, 16.336]      3
8              9         1      3     Mrs  female  (16.336, 32.252]      0
9             10         1      2     Mrs  female    (0.34, 16.336]      1
10            11         1      3    Miss  female    (0.34, 16.336]      1
11            12         1      1    Miss  female  (48.168, 64.084]      0
12            13         0      3      Mr    male  (16.336, 32.252]      0
13            14         0      3      Mr    male  (32.252, 48.168]      1
14            15         0      3    Miss  female    (0.34, 16.336]      0
15            16         1      2     Mrs  female  (48.168, 64.084]      0
16            17         0      3  Master    male    (0.34, 16.336]      4
17            18         1      2      Mr    male  (16.336, 32.252]      0
18            19         0      3     Mrs  female  (16.336, 32.252]      1
19            20         1      3     Mrs  female  (16.336, 32.252]      0
20            21         0      2      Mr    male  (32.252, 48.168]      0
21            22         1      2      Mr    male  (32.252, 48.168]      0
22            23         1      3    Miss  female    (0.34, 16.336]      0
23            24         1      1      Mr    male  (16.336, 32.252]      0
24            25         0      3    Miss  female    (0.34, 16.336]      3
25            26         1      3     Mrs  female  (32.252, 48.168]      1
26            27         0      3      Mr    male  (16.336, 32.252]      0
27            28         0      1      Mr    male  (16.336, 32.252]      3
28            29         1      3    Miss  female  (16.336, 32.252]      0
29            30         0      3      Mr    male  (16.336, 32.252]      0
..           ...       ...    ...     ...     ...               ...    ...
861          862         0      2      Mr    male  (16.336, 32.252]      1
862          863         1      1     Mrs  female  (32.252, 48.168]      0
863          864         0      3    Miss  female  (16.336, 32.252]      8
864          865         0      2      Mr    male  (16.336, 32.252]      0
865          866         1      2     Mrs  female  (32.252, 48.168]      0
866          867         1      2    Miss  female  (16.336, 32.252]      1
867          868         0      1      Mr    male  (16.336, 32.252]      0
868          869         0      3      Mr    male  (16.336, 32.252]      0
869          870         1      3  Master    male    (0.34, 16.336]      1
870          871         0      3      Mr    male  (16.336, 32.252]      0
871          872         1      1     Mrs  female  (32.252, 48.168]      1
872          873         0      1      Mr    male  (32.252, 48.168]      0
873          874         0      3      Mr    male  (32.252, 48.168]      0
874          875         1      2     Mrs  female  (16.336, 32.252]      1
875          876         1      3    Miss  female    (0.34, 16.336]      0
876          877         0      3      Mr    male  (16.336, 32.252]      0
877          878         0      3      Mr    male  (16.336, 32.252]      0
878          879         0      3      Mr    male  (16.336, 32.252]      0
879          880         1      1     Mrs  female  (48.168, 64.084]      0
880          881         1      2     Mrs  female  (16.336, 32.252]      0
881          882         0      3      Mr    male  (32.252, 48.168]      0
882          883         0      3    Miss  female  (16.336, 32.252]      0
883          884         0      2      Mr    male  (16.336, 32.252]      0
884          885         0      3      Mr    male  (16.336, 32.252]      0
885          886         0      3     Mrs  female  (32.252, 48.168]      0
886          887         0      2   Other    male  (16.336, 32.252]      0
887          888         1      1    Miss  female  (16.336, 32.252]      0
888          889         0      3    Miss  female  (16.336, 32.252]      1
889          890         1      1      Mr    male  (16.336, 32.252]      0
890          891         0      3      Mr    male  (16.336, 32.252]      0

     Parch            Ticket             Fare        Cabin Embarked  \
0        0         A/5 21171   (-0.001, 7.91]          NaN        S
1        0          PC 17599  (31.0, 512.329]          C85        C
2        0  STON/O2. 3101282   (7.91, 14.454]          NaN        S
3        0            113803  (31.0, 512.329]         C123        S
4        0            373450   (7.91, 14.454]          NaN        S
5        0            330877   (7.91, 14.454]          NaN        Q
6        0             17463  (31.0, 512.329]          E46        S
7        1            349909   (14.454, 31.0]          NaN        S
8        2            347742   (7.91, 14.454]          NaN        S
9        0            237736   (14.454, 31.0]          NaN        C
10       1           PP 9549   (14.454, 31.0]           G6        S
11       0            113783   (14.454, 31.0]         C103        S
12       0         A/5. 2151   (7.91, 14.454]          NaN        S
13       5            347082  (31.0, 512.329]          NaN        S
14       0            350406   (-0.001, 7.91]          NaN        S
15       0            248706   (14.454, 31.0]          NaN        S
16       1            382652   (14.454, 31.0]          NaN        Q
17       0            244373   (7.91, 14.454]          NaN        S
18       0            345763   (14.454, 31.0]          NaN        S
19       0              2649   (-0.001, 7.91]          NaN        C
20       0            239865   (14.454, 31.0]          NaN        S
21       0            248698   (7.91, 14.454]          D56        S
22       0            330923   (7.91, 14.454]          NaN        Q
23       0            113788  (31.0, 512.329]           A6        S
24       1            349909   (14.454, 31.0]          NaN        S
25       5            347077  (31.0, 512.329]          NaN        S
26       0              2631   (-0.001, 7.91]          NaN        C
27       2             19950  (31.0, 512.329]  C23 C25 C27        S
28       0            330959   (-0.001, 7.91]          NaN        Q
29       0            349216   (-0.001, 7.91]          NaN        S
..     ...               ...              ...          ...      ...
861      0             28134   (7.91, 14.454]          NaN        S
862      0             17466   (14.454, 31.0]          D17        S
863      2          CA. 2343  (31.0, 512.329]          NaN        S
864      0            233866   (7.91, 14.454]          NaN        S
865      0            236852   (7.91, 14.454]          NaN        S
866      0     SC/PARIS 2149   (7.91, 14.454]          NaN        C
867      0          PC 17590  (31.0, 512.329]          A24        S
868      0            345777   (7.91, 14.454]          NaN        S
869      1            347742   (7.91, 14.454]          NaN        S
870      0            349248   (-0.001, 7.91]          NaN        S
871      1             11751  (31.0, 512.329]          D35        S
872      0               695   (-0.001, 7.91]  B51 B53 B55        S
873      0            345765   (7.91, 14.454]          NaN        S
874      0         P/PP 3381   (14.454, 31.0]          NaN        C
875      0              2667   (-0.001, 7.91]          NaN        C
876      0              7534   (7.91, 14.454]          NaN        S
877      0            349212   (-0.001, 7.91]          NaN        S
878      0            349217   (-0.001, 7.91]          NaN        S
879      1             11767  (31.0, 512.329]          C50        C
880      1            230433   (14.454, 31.0]          NaN        S
881      0            349257   (-0.001, 7.91]          NaN        S
882      0              7552   (7.91, 14.454]          NaN        S
883      0  C.A./SOTON 34068   (7.91, 14.454]          NaN        S
884      0   SOTON/OQ 392076   (-0.001, 7.91]          NaN        S
885      5            382652   (14.454, 31.0]          NaN        Q
886      0            211536   (7.91, 14.454]          NaN        S
887      0            112053   (14.454, 31.0]          B42        S
888      2        W./C. 6607   (14.454, 31.0]          NaN        S
889      0            111369   (14.454, 31.0]         C148        C
890      0            370376   (-0.001, 7.91]          NaN        Q

     FamilySize  IsAlone
0             2        0
1             2        0
2             1        1
3             2        0
4             1        1
5             1        1
6             1        1
7             5        0
8             3        0
9             2        0
10            3        0
11            1        1
12            1        1
13            7        0
14            1        1
15            1        1
16            6        0
17            1        1
18            2        0
19            1        1
20            1        1
21            1        1
22            1        1
23            1        1
24            5        0
25            7        0
26            1        1
27            6        0
28            1        1
29            1        1
..          ...      ...
861           2        0
862           1        1
863          11        0
864           1        1
865           1        1
866           2        0
867           1        1
868           1        1
869           3        0
870           1        1
871           3        0
872           1        1
873           1        1
874           2        0
875           1        1
876           1        1
877           1        1
878           1        1
879           2        0
880           2        0
881           1        1
882           1        1
883           1        1
884           1        1
885           6        0
886           1        1
887           1        1
888           4        0
889           1        1
890           1        1

[891 rows x 14 columns]

In [4]:
#We will select only these features because features such as ticket only contain strings with unknown meanings
features = train_set[['Name','Pclass','SibSp','Parch','Sex','Age','FamilySize','Fare','Embarked','IsAlone']]
features = pd.get_dummies(features)
print(features.columns)

Index(['SibSp', 'Parch', 'FamilySize', 'IsAlone', 'Name_Master', 'Name_Miss',
       'Name_Mr', 'Name_Mrs', 'Name_Other', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Sex_female', 'Sex_male', 'Age_(0.34, 16.336]', 'Age_(16.336, 32.252]',
       'Age_(32.252, 48.168]', 'Age_(48.168, 64.084]', 'Age_(64.084, 80.0]',
       'Fare_(-0.001, 7.91]', 'Fare_(7.91, 14.454]', 'Fare_(14.454, 31.0]',
       'Fare_(31.0, 512.329]', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

##Training base models

For stacking methods, we will use various models and learners to get our first prediction and use the output as features of the second round. First, let us choose models that perform well in our first stage. Note that models and their parameters were already chosen from parameters search

In [0]:
#get labels
labels = train_set.pop('Survived')
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

#fine-tuned models
classifiers = {
    'random_forest':RandomForestClassifier(n_estimators=3000,max_depth=20,max_features='auto',min_samples_leaf=2,min_samples_split=5,oob_score = True),
    'adaBoost':AdaBoostClassifier(n_estimators=500,learning_rate=0.05),
    'gradientBoosting':GradientBoostingClassifier(learning_rate=0.1,max_depth=3,max_features='sqrt',n_estimators=500,min_samples_split=4,min_samples_leaf=2),
    'svc':SVC(kernel='linear',C=0.5,gamma='auto',degree=1),
    'ex_tree':ExtraTreesClassifier(max_depth=12,max_features='sqrt',min_samples_leaf=1,min_samples_split=10,oob_score=True,bootstrap=True,n_estimators=500)
}

In [0]:
#prepare test features 
test_set = preprocess_data(test_set)
test_features = test_set[['Name','Pclass','SibSp','Parch','Sex','Age','FamilySize','Fare','Embarked','IsAlone']]
test_features = pd.get_dummies(test_features)
test_features = test_features.drop(['Name_Dona'],axis=1)

In [7]:
#use KFold validation for getting results
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
kf = KFold(n_splits=7,shuffle=True)
for key, classifier in classifiers.items():
    for train_index,test_index in kf.split(features):
        X_train, y_train = features.iloc[train_index], labels.iloc[train_index]
        X_test, y_test = features.iloc[test_index], labels.iloc[test_index]
        classifier.fit(X_train,y_train)
        print(key,accuracy_score(classifier.predict(features),labels))
    #print overall performance
    print("overall",key,accuracy_score(classifier.predict(features),labels))
    #get predictions from test_features
    predictions = classifier.predict(test_features)
    predictions_set = test_set.loc[:,['PassengerId']]
    predictions_set = predictions_set.assign(Survived=pd.Series(predictions))
    predictions_set.to_csv('/content/gdrive/My Drive/Colab Notebooks/titanic/saved_model/'+key+'.csv',index=False)
    #get stacking features from training set
    stacking_features = classifier.predict(features)
    stacking_set = train_set.loc[:,['PassengerId']]
    stacking_set = stacking_set.assign(Survived=pd.Series(stacking_features))
    stacking_set.to_csv('/content/gdrive/My Drive/Colab Notebooks/titanic/stacking_model/'+key+'.csv',index=False)

random_forest 0.8619528619528619
random_forest 0.8585858585858586
random_forest 0.8608305274971941
random_forest 0.8585858585858586
random_forest 0.8653198653198653
random_forest 0.8608305274971941
random_forest 0.8585858585858586
overall random_forest 0.8585858585858586
adaBoost 0.8237934904601572
adaBoost 0.8260381593714927
adaBoost 0.8271604938271605
adaBoost 0.8249158249158249
adaBoost 0.8282828282828283
adaBoost 0.8282828282828283
adaBoost 0.8260381593714927
overall adaBoost 0.8260381593714927
gradientBoosting 0.8765432098765432
gradientBoosting 0.8698092031425365
gradientBoosting 0.8720538720538721
gradientBoosting 0.8698092031425365
gradientBoosting 0.8731762065095399
gradientBoosting 0.8754208754208754
gradientBoosting 0.8787878787878788
overall gradientBoosting 0.8787878787878788
svc 0.8249158249158249
svc 0.8226711560044894
svc 0.8249158249158249
svc 0.8260381593714927
svc 0.8260381593714927
svc 0.8226711560044894
svc 0.8282828282828283
overall svc 0.8282828282828283
ex_tree 0.8608305274971941
ex_tree 0.856341189674523
ex_tree 0.8641975308641975
ex_tree 0.8597081930415263
ex_tree 0.8608305274971941
ex_tree 0.8641975308641975
ex_tree 0.867564534231201
overall ex_tree 0.867564534231201

The overall result from the KFold validation seems very promising with over 80% accuracy for most models. Now, let's proceed to the second stage with **xgboost-titanic** notebook for stacking methods with XGBoost Regressor